@import 'tailwindcss';
@plugin '@tailwindcss/forms' {
  strategy: 'base';
}
@plugin '@tailwindcss/typography';
@config '../../tailwind.config.js';

@import './theme/base.css' layer(base);
@import './theme/ckeditor.css';
@import './theme/utilities.css';
@import './theme/components.css' layer(components);

@theme {
  --color-black: #09090b;
  --color-white: #ffffff;
  --color-primary: rgb(16, 133, 127);
  --color-secondary: #082f49;
}

@theme inline {
  --header-height: 56px;
  --puck-header-height: 51px;
}

#frame-root {
  width: 99%;
}

#preview-frame {
  padding-bottom: 50px;
}
