@import 'tailwindcss';
@import './theme/utilities.css';
@import './theme/components.css';
@import './theme/puck.css';
@import './theme/ckeditor.css';

@plugin '@tailwindcss/forms' {
  strategy: 'base';
}
@plugin '@tailwindcss/typography';

@theme {
  --color-black: #09090b;
  --color-white: #ffffff;
  --color-primary: #10857f;
  --color-secondary: #082f49;
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-heading: var(--font-helvetica-now);
}
