@utility prose-theme {
  --tw-prose-body: var(--color-black);
  --tw-prose-headings: var(--color-black);
  --tw-prose-lead: var(--color-black);
  --tw-prose-links: var(--color-black);
  --tw-prose-bold: var(--color-black);
  --tw-prose-counters: var(--color-black);
  --tw-prose-bullets: var(--color-black);
  --tw-prose-hr: var(--color-black);
  --tw-prose-quotes: var(--color-black);
  --tw-prose-quote-borders: var(--color-black);
  --tw-prose-captions: var(--color-black);
  --tw-prose-code: var(--color-black);
  --tw-prose-pre-code: var(--color-black);
  --tw-prose-pre-bg: var(--color-black);
  --tw-prose-th-borders: var(--color-black);
  --tw-prose-td-borders: var(--color-black);
}
